<div>
  <h1>Download Your Customized Template</h1>
  <p>
    Thank you for using the University of Minnesota's Template Builder. To assist in maintaining a cohesive brand identity, we provide this tool to ensure that independent projects align with the university's visual standards. By incorporating the official header and footer into your site, you help promote a consistent user experience and uphold the integrity of the University of Minnesota's brand.
  </p>
  <p>
    Below you will find the download link to your customized template, which includes the standardized university header and footer. We encourage you to review the included documentation for guidance on implementation and best practices.
  </p>
{#  <img class="display-inline-block padding-1" src="{{ icon_url }}" alt="Zip icon">#}
  <a href="{{ download_link }}">Download customized template ZIP file</a>
  <p>&nbsp;</p>
</div>
